
.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.25rem;
  background-image: url("../../assets/background4.jpg");
  background-size: cover;


  .login-card {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    max-width: 95vw;
    display: flex;
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 0 1.5625rem 3.125rem -0.75rem rgba(0, 0, 0, 0.5);
    min-height:90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.login-form-section {

 width:50rem;
  padding: 3.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .form-header {
    margin-bottom: 2rem;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      color:$color-bg-main;
      margin: 0.5rem 0;
      font-weight: 700;
    }

    p {
      color:darken($color-bg-main,10%);
      font-size: 1.5rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    .input-group {
      margin-bottom: 1.25rem;

      label {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 0.375rem;
        color:$color-bg-main;
        font-weight: 600;
      }

      input {
        width: calc(100% - 2rem);
        padding: 0.75rem 1rem;
        border: 0.0625rem solid lighten($color-text-muted, 30%);
        border-radius: 0.75rem;
        background-color: white;
        outline: none;
        font-size: 1rem;
        transition: all 0.2s;

        &:focus {
          border-color: $color-primary;
          box-shadow: 0 0 0 3px rgba($color-primary, 0.2);
        }
      }
    }

    .form-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
      margin-bottom: 1.5rem;
      color:$color-bg-main;
    }

    .login-btn {
      width: 100%;
      background-color: $color-primary;
      color: $color-dark-bg;
      padding: 0.875rem;
      border: none;
      border-radius: 1.5625rem;
      font-weight: 700;
      font-size: 1.2rem;
      cursor: pointer;
      transition: transform 0.2s, background-color 0.2s;

      &:hover {
        background-color: darken($color-primary, 5%);
        transform: translateY(-1px);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
}

a {
  color:darken($color-bg-main, 10%);
  text-decoration: none;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}

.login-image-section {
  flex: 1;
  padding: 1.25rem;
  display: flex;


}

@media (max-width: 48rem) {
  form {
    min-width: 80vw;
  }
  .login-form-section {
    .form-header {
      h1 {
        font-size: 1.5rem
      }
      p {

        font-size:1rem;
      }
    }
    form{
      .input-group {
        label {
          font-size: 1rem;
        }
      }
    }
  }

}
