// Główny żółty (Akcent/Primary)
$color-primary:#F5BB01;

// Główny czarny (Tekst/Dark)
$color-dark-bg: #1a1a1a;

// Główny jasny (Tło/Surface)
$color-bg-main: #f9f9f4;

// Główny ciemny szary (Muted/Surface)
$color-text-muted: #7a7a7a;