
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html, body {
font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: radial-gradient(
                  circle at top right,
                  $color-primary 0%,
                  $color-bg-main 75%,
                  $color-bg-main 100%
  );

  background-attachment: fixed;
}
